@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

button {
    background-color: blueviolet;
    border: 1px black;
    color: aliceblue;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 1rem;
    transition: transform .3s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    font-family: 'Pacifico', cursive;

}

button.active {
    transform: translateX(0);
}

nav.active {
    transform: translateX(0);
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    padding: 3rem 0;
    transition: transform .3s ease-in-out;

}

nav ul li:hover {
    transform: scale(2.0);
}

nav a {
    color: aliceblue;
    text-decoration: none;

}